body {
    background-color: rgb(245, 192, 237);
}

.main {
    width: 100%;
    display: inline;
}
  
.titulo {
    margin-top: 10%;
    text-align: center;
}

.titulo_principal {
    -webkit-text-fill-color: rgb(156, 236, 156);
    -webkit-text-stroke: 2px rgb(206, 77, 184);
    
    font-family: cursive ;
}

.parrafo {
    text-align: center;
    color: rgb(27, 51, 30);
    font-family: cursive;
}

.productos_destacados {
    text-align: center;
    -webkit-text-fill-color: rgb(178, 237, 245);
    -webkit-text-stroke: 1px rgb(223, 92, 199);
    font-family: cursive ;
}

.subtitulo {
    color: #5a7cbb;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #cf7dff;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

nav ul li a {
    color: #3b013d;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.img-slider {
    width: 250px;
    height: auto;
}

.titulo_contacto {
    margin-top: 10%;
    text-align: center;
}

.titulo_contacto2 {
    -webkit-text-fill-color: rgb(156, 236, 156);
    -webkit-text-stroke: 2px rgb(206, 77, 184);
    
    font-family: cursive ;
}

.formularios {
    padding: 40px;
}

.titulo_registro {
    margin-top: 10%;
    text-align: center;
}

.titulo_registro2 {
    -webkit-text-fill-color: rgb(156, 236, 156);
    -webkit-text-stroke: 2px rgb(206, 77, 184);
    
    font-family: cursive ;
}

.registros {
    padding: 40px;

}

.formulario_registro {
    padding: 40px;
}

.titulo_categorias {
    margin-top: 10%;
    text-align: center;
}

.titulo_categorias1 {
    -webkit-text-fill-color: rgb(156, 236, 156);
    -webkit-text-stroke: 2px rgb(206, 77, 184);
    
    font-family: cursive ;
}

.subtitulo_categorias {
    color: #5a7cbb;
}

.list-group {
    text-align: center;
}

.titulo_iniciar {
    margin-top: 10%;
    text-align: center;
}

.titulo_iniciar2 {
    -webkit-text-fill-color: rgb(156, 236, 156);
    -webkit-text-stroke: 2px rgb(206, 77, 184);
    
    font-family: cursive ;
}

